.btn {
  background: linear-gradient(
    0deg,
    var(--extraLight) 0%,
    var(--lightBlue) 100%
  );
  color: var(--blue);
  padding: 0.7rem 1rem;
  border-radius: 1.2rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 800;
  min-width: 100px;
  border:2px solid var(--blue);
}

.btn:hover {
  background: var(--blue);
  color: var(--white);
  border:2px solid var(--white);
  transition: all 0.3 ease-in-out;
}