.dashboard{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.dash-heading{
    color:var(--white);
    font-weight: 300;
    font-size: 2rem;
}
.dash-heading span{
    color:var(--extraLight);
}
.pdf-upload{
    display: flex;
    align-items: center;
    gap:2rem;
}
.import-btn{
    padding:0.8rem 1.5rem;
    background-color: var(--extraLight);
    color: var(--blue);
    cursor: pointer;
    border-radius: 1rem;
    font-size: 1.2rem;
    font-weight: 600;
}
.import-btn{
    background-color: var(--extraLight);
}