@import 'react-toastify/dist/ReactToastify.css';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;500;600;700;800;900&display=swap');

:root{
  --white:#fff;
  --black:#111;
  --blue : #111827;
  --lightBlue : #4962a1;
  --extraLight:#83A4F7;
}

html{
  scroll-behavior: smooth;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--blue);
  color:var(--white);
  font-family: 'Inter', sans-serif;
  min-height: 90vh;
}

/* width */
::-webkit-scrollbar {
  width: 0.3rem;
}
/* track */
::-webkit-scrollbar-track {
  background-color: var(--blue);
}
/* Handle */
::-webkit-scrollbar-thumb {
  background:var(--lightBlue);
  border-radius: 3rem;
}

a{
  text-decoration: none;
}

img{
  -webkit-user-drag: none;
  -khtml-user-drag:none;
  -moz-user-drag:none;
  -o-user-drag:none;
}

.errorPage{
  margin:0;
  width:100vw;
  height:86vh;
}
.errorPage img{
  width:100%;
  height:100%;
  object-fit:fill;
  mix-blend-mode:color-dodge;
}